/*Обнуление*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}

/*Menu Burger*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 15px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #77608d;
  z-index: 2;
}
.header .container {
  max-width: 1180px;
  margin: 0 auto;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 60px;
  z-index: 3;
}
.header__list {
  display: flex;
  color: #fff;
  z-index: 2;
  position: relative;
}
.header__list li {
  margin-left: 20px;
}
.header__list li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}
.main {
  padding-top: 100px;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #18b5a4;
    padding: 70px 0 0 0;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__list {
    display: block;
  }
}

/*-------Style list ol ------------*/

ol {
  counter-reset: ol-none;
}
ol li {
  position: relative;
  padding: 0 0 0 50px;
}
ol li::before {
  counter-increment: ol-none;
  content: counter(ol-none) ")";
  position: absolute;
  left: 0;
  top: 0;

  width: 40px;
  text-align: right;
  color: aqua;
}

/*----Footer down (Липкий Footer)---------*/
html,
body {
  height: 100%; /*Magic*/
  line-height: 1;
}
.wrapper {
  min-height: 100%; /*Magic*/
  display: flex; /*Magic*/
  flex-direction: column; /*Magic*/
}

.header {
  font-size: 24px;
  background-color: #794f45;
  text-align: center;
  color: #fff;
}
.main {
  flex: 1 1 auto; /*Magic*/
}
.footer {
  font-size: 24px;
  background-color: #77608d;
  text-align: center;
  padding: 30px;
  color: #fff;
}

/* Accordion*/
.accordion {
  padding: 50px;
}
.accordion__block {
  margin-bottom: 20px;
}
.accordion__text {
  padding-top: 10px;
  display: none;
}
.accordion__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
/* Accordion arrow*/
.accordion__title::before,
.accordion__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
  transition: all 0.3s ease 0s;
}
.accordion__title::before {
  transform: rotate(40deg);
  left: 0;
}
.accordion__title::after {
  transform: rotate(-40deg);
  left: 8px;
}
.accordion__title.active::before,
.accordion__title.active::after {
  background-color: crimson;
}
.accordion__title.active::before {
  transform: rotate(-40deg);
}
.accordion__title.active::after {
  transform: rotate(40deg);
}
/* Accordion END*/

/* Tabs */
.content {
  margin-left: 50px;
  max-width: 800px;
}
.tabs {
  margin-bottom: 50px;
}
.tabs__items {
  display: flex;
}
.tabs__item {
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.tabs__item span {
  position: relative;
  z-index: 2;
}
.tabs__body {
}
.tabs__block {
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: none;
  position: relative;
}
.tabs__block::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
}
.tabs__block:nth-child(1) {
  background-color: #77608d;
}
.tabs__block:nth-child(1)::before {
  background-color: #77608d;
  left: 0;
}
.tabs__block:nth-child(2) {
  background-color: #794f45;
}
.tabs__block:nth-child(2)::before {
  background-color: #794f45;
  left: 33.333%;
}
.tabs__block:nth-child(3) {
  background-color: burlywood;
}
.tabs__block:nth-child(3)::before {
  background-color: burlywood;
  right: 0;
}
.tabs__block:target {
  display: block;
}
@media (max-width: 600px) {
  .tabs__item span {
    display: block;
    width: 100px;
    padding: 0 5px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}
/* Tabs END */

/*Form Valid field*/
form.form {
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}
form.form fieldset {
  padding: 10px 30px;
  border: 1px solid #000;
}
form.form div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
form.form label {
  margin-bottom: 7px;
}
input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: -20px;
}

input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 1px solid green;
}
input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}
